tr.links-entry textarea {
	width:100%;
	height:50px;
}

tr.links-entry input.pmg-link-text {
	width: 80%;
}

tr.links-entry td  {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
}

th.pmg-url {
	width: 38%;
}

th.pmg-kw {
	width:38%;
}

table#links-definitions {
	margin-top:25px;
}